footer(class='page-footer cyan accent-4')
				div.container
					div.row
						div(class="col l6 s12")
							h5(class="white-text")
								img(src='/images/logos/zshop-white.png' width='200px')
							p(class="grey-text text-lighten-4") informations here......
						div(class="col l4 offset-l2 s12")
							h5(class="white-text" id='LinksID') Links
							ul
								li: a(class="grey-text text-lighten-3" href="/admin_login") Admin
								li: a(class="grey-text text-lighten-3" href="/") Home
								li: a(class="grey-text text-lighten-3" href="/profile") Profile
					div(class="footer-copyright")
						div(class="container left") © 2017 All right reserved to zakaria chahboun
							br
							a(class="grey-text text-lighten-4")
								i(class='material-icons left') email
								|contact me :
								|
								|
							span.my_footer zakaria.chahboun.1996@gmail.com