html
	head
		title= title
		script(src="/Use Materialize/javascripts/jquery-3.2.1.min.js")
		script(src="/Use Materialize/materialize/js/materialize.min.js")
		link(rel="stylesheet" href="/Use Materialize/google-icons/google-material-icons.css")
		link(rel="stylesheet" href="/Use Materialize/materialize/css/materialize.min.css")
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/main_style.css')
		script(src="/javascripts/projs.js")
		script(src="/javascripts/main_js.js")
		body
			block content
